@use "../../variables";

button {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  // font-family: variables.$secondaryFont;
  font-size: 1rem;

  * {
    color: inherit !important;
    background-color: inherit !important;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }

  &::after {
    z-index: -1;
    content: "";
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &.primary {
    border: 1px variables.$primaryColor !important;
    color: variables.$primaryColor !important;

    &::after {
      background-color: variables.$primaryColor !important;
    }
    &:hover {
      color: variables.$white !important;
    }
    &.solid {
      background-color: variables.$primaryColor !important;
      &::after {
        width: 100%;
      }
      color: variables.$white !important;
      &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
    }
  }

  &.secondary {
    color: variables.$white !important;
    border: 1px solid variables.$white !important;

    &::after {
      background-color: variables.$white !important;
    }
    &:hover {
      color: variables.$black !important;
    }

    &.solid {
      background-color: variables.$white !important;
      &::after {
        width: 100%;
      }
      color: variables.$black !important;
      &:hover {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      }
    }
  }
}
