@use "../../variables";

.Footer {
  min-height: 65px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__details {
    font-weight: bold;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      max-width: 35px;
      max-height: 35px;
    }
  }
}
